In [1]:
range(0, 5)

range(0, 5)

In [2]:
list(range(0, 5))

[0, 1, 2, 3, 4]

In [3]:
list(range(0, 5, 2))

[0, 2, 4]

In [4]:
list1 = [1, 3 , 5, 7, 9]
list2 = [2, 4, 6, 8, 10]

In [5]:
list1 * list2

TypeError: can't multiply sequence by non-int of type 'list'

In [6]:
new_list = []

for i in range(0, len(list1)):
    x = list1[i] * list2[i]
    new_list.append(x)

print(new_list)

[2, 12, 30, 56, 90]

In [7]:
import numpy as np

In [8]:
x = np.array([1, 3, 5, 7, 9])
y = np.array([2, 4, 6, 8, 10])

In [9]:
x * y

array([ 2, 12, 30, 56, 90])